# Python & Django
*.pyc
__pycache__/
internship-tracker-db.sqlite3
/media
/staticfiles

# Environment
.venv/
.env

# Node / Tailwind
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db