<form method="POST" action="{% url 'login' %}" class="space-y-4">
    {% csrf_token %}

    <div>
        <label class="label font-semibold text-teal-800">Username</label>
        <input type="text" name="username" class="input input-bordered input-md sm:input-lg w-full rounded-lg"
            placeholder="Enter username" required>
    </div>

    <div>
        <label class="label font-semibold text-teal-800">Password</label>
        <input type="password" name="password" class="input input-bordered input-md sm:input-lg w-full rounded-lg"
            placeholder="Enter password" required>
    </div>

    <button type="submit"
        class="btn w-full bg-teal-600 hover:bg-teal-700 text-white font-bold rounded-lg shadow-lg border-none">
        LOG-IN
    </button>
</form>