<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Intern Dashboard{% endblock %}</title>

    <!-- Tailwind (via browser CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- DaisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2462155d8a.js" crossorigin="anonymous"></script>

    <style>
        /* Remove number input arrows */
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>

    {% block head %}{% endblock %}
</head>

<body class="bg-orange-50/50 min-h-screen">
    <main class="p-8">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>