{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Intern Dashboard{% endblock %}
    </title>

    <link rel="icon" type="image/svg+xml" href="{% static 'images/hourglass-half-solid-full.svg' %}">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/2462155d8a.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lexend:wght@100..900&display=swap"
        rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.6/dialog-polyfill.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.6/dialog-polyfill.min.css">

    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body class="bg-orange-50/50 min-h-screen">
    <main class="p-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} shadow-lg mb-4 flex justify-between items-center">
            <div class="flex items-center gap-2">
                <i class="fas fa-exclamation-triangle"></i>
                <span>{{ message }}</span>
            </div>
            <button type="button" class="btn btn-sm btn-ghost btn-circle" onclick="this.closest('.alert').remove()">
                <i class="fas fa-times"></i>
            </button>
        </div>
        {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>